* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body {
	background:linear-gradient(35deg, #9ae7f1, #5abec0, #d891ee);
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
	height:100%;
}

@keyframes strikeitem {
	to { width:calc(100% + 1rem); }
}
